body {
	background-color: #ddf;
}
#banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 30%;
	/*in case of different radii for each corner:*/;
	/*border-top-right-radius: 30%;
	border-top-left-radius: 30%;
	border-bottom-right-radius: 30%;
	border-bottom-left-radius: 30%;*/
	max-width: 1300px; /*1300 being minimum screen size for a laptop*/
	width: auto;
	height: auto;
}
.frontend_img {
/*frontend_img and second_img are identical classes, separated for later customization*/
	display: inline-block;
	max-width: 200px;
	width: auto;
	height: auto;
	border-radius: 20%;
	border-width: 6px;
	border-color: purple;
}
.second_img {
/*second_img and frontend_img are identical classes, separated for later customization*/
/*possibly, in later development, the second_img will give additional responsiveness to the 
second image- for instance loading the page on vertical screen will move the chart below
the first image*/
	/*display: inline-block;
	max-width: 200px;
	width: auto;
	height: auto;
	border-radius: 20%;*/

} 
.float_left{
	float:left;
	width: 90%;
}
.float_right{
	float: right;
	width: 50%;

}
.in_line{
	content: "";
	display: table;
}
#twentyVH{
	height: 20%;
}
#fiftyVH{
	height: 70%;
}
.blueFont{
	color: blue;
}
.borderScatter{
	border-style: solid;
	margin: 0px;
	padding: 10px;
	border-width: 5px;
	border-color: blue;
	border-radius: 5% 50%;
}
.borderBottomLeft{
	border-style: solid;
	margin: 0px;
	padding: 3px;
	padding-left: 7px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-color: rgb(109, 109, 219);
	border-bottom-left-radius: 3% 70%;

}
.droppedCorner{
	border-style: solid;
	border-top-right-radius: 40%;
	border-width: 6px;
	border-color: purple;
	
}
.frontDroppedCorner{
	border-style: solid;
	border-top-left-radius: 50%;
	border-width: 6px;
	border-color: purple;
}
.whiteOnBlack{
	color: white;
	background-color: black;
	border-style: solid;
	margin: 0px;
	padding: 3px;
	border-width: 3px;
	border-color: rgb(10, 10, 10);
	border-radius: 5% 50%;
}
.anotherBorder{
	border-style: solid;
	margin: 0px;
	padding: 3px;
	border-width: 3px;
	border-color: rgb(10, 10, 10);
	border-bottom-right-radius: 5% 60%;	
	border-top-left-radius: 5% 60%;
}
.leaf{
	border-style: solid;
	margin: 0px;
	padding: 4px;
	border-width: 3px;
	border-color: purple;
	border-bottom-left-radius: 20% 40%;
	border-top-right-radius: 20% 40%;
}
.whiteBkg{

	background-color: white;
}
.sticky{
	position: sticky;
	top: 0;
}
